<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <!-- Boxiocns CDN Link -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus"></i>
      <span class="logo_name">MYC</span>
    </div>
    <ul class="nav-links">
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="bx bx-collection"></i>
            <span class="link_name">Funcionário</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Funcionário</a></li>
          <li><a href="#">Novo Funcionário</a></li>
          <li><a href="#">Pesquisar Funcionário</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="bx bx-book-alt"></i>
            <span class="link_name">Solicitações</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Solicitações</a></li>
          <li><a href="#">Nova Solicitação</a></li>
          <li><a href="#">Minhas Solicitações</a></li>
          <li><a href="#">Solicitações por Setor</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="bx bx-plug"></i>
            <span class="link_name">Atendimentos</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Atendimentos</a></li>
          <li><a href="#">Novo Atedimentos</a></li>
          <li><a href="#">Meus Atendimentos</a></li>
          <li><a href="#">Atendimentos por Setor</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="bx bx-book-alt"></i>
            <span class="link_name">Demais Configurações</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Demais Configurações</a></li>
          <li><a href="#">Paises</a></li>
          <li><a href="#">Estados</a></li>
          <li><a href="#">Cidades</a></li>
          <li><a href="#">Filiais</a></li>
          <li><a href="#">Tipo de Telefone</a></li>
          <li><a href="#">Tipo de Solicitação</a></li>
          <li><a href="#">Tipo de Atendimento</a></li>
          <li><a href="#">Cargos</a></li>
          <li><a href="#">Setores</a></li>
        </ul>
      </li>
    </ul>
    <div class="logout">
      <a href="logout.html">
        <i class='bx bx-log-out'></i>
        <span class="link_name">Sair</span>
      </a>
    </div>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class="bx bx-menu"></i>
      <span class="text">My Collaborator</span>
    </div>
  </section>
  <script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e) => {
        let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
        arrowParent.classList.toggle("showMenu");
      });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    });
  </script>
</body>
</html>
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Logout</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Estilo CSS personalizado -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Você deseja fazer logout?</h2>
          <p class="card-text">Clique no botão abaixo para sair da sua conta.</p>
          <form action="logout" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap JS Bundle (optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>