<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
            <div class="navbar-menu-container">
              <ul class="navbar-menu">
                  <li class="navbar-item">
                      <a href="/dashboard.html">Home</a>
                  </li>
                  <li class="navbar-item dropdown">
                      <a href="#">Funcionários</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="/novofuncionario.html">Novo Funcionário</a></li>
                          <li class="dropdown-item"><a href="#">Pesquisar Funcionário</a></li>
                          <li class="dropdown-item"><a href="#">Cadastros Inativos</a></li>
                      </ul>
                  </li>
                  <li class="navbar-item dropdown">
                      <a href="#">Solicitação</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="#">Nova Solicitação</a></li>
                          <li class="dropdown-item"><a href="#">Buscar Solicitação</a></li>
                      </ul>
                  </li>
                  <li class="navbar-item dropdown">
                      <a href="#">Atendimento</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="#">Novo Atendimento</a></li>
                          <li class="dropdown-item"><a href="#">Buscar Atendimento</a></li>
                      </ul>
                  </li>
                  <li class="navbar-item dropdown">
                      <a href="#">Ajustes do Sistema</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="#">Paises</a></li>
                          <li class="dropdown-item"><a href="#">Estados</a></li>
                          <li class="dropdown-item"><a href="#">Cidades</a></li>
                          <li class="dropdown-item"><a href="#">Setores</a></li>
                          <li class="dropdown-item"><a href="#">Filiais</a></li>
                          <li class="dropdown-item"><a href="#">Tipo Atendimento</a></li>
                          <li class="dropdown-item"><a href="#">Tipo Solicitação</a></li>
                          <li class="dropdown-item"><a href="#">Permissões</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
          <div class="btn-sair">
              <a href="/logout.html">Sair</a>
          </div>
      </nav>
  </header>
  </body>
</html>
